<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
		<title>Job Vacancy Board - Message</title>
		</head>
	<body>
Job Vacancy Board<br>
=================
<br>
An applicant have applied to your job offer:<br>
<br>
* Title: <%= job_offer.title %><br>
* Location: <%= job_offer.location %><br>
* Description: <%= job_offer.description %><br>
<br>
You can contact the applicant to this offer by writing to <%= job_offer.apply_email %> <br>
<br>
<div>
Gravatar's profile image from applicant: 
<img src="<%= applicant %>" alt = "image not found!" > 
</div>
<br>
You can see now the applicant CV following this link: <%= job_offer.cv_link %>
</body>
</html> 
