<h1>Password recovery</h1>

	
<p>Please enter your email address to generate a code to recover your password!</p>
<% form_for(@code_generator, "/users/send/") do |f| %>

  	<%= f.label :Email %>
 	<%= f.text_field :user_email %>

	<br/>
      <%= f.submit "Generate", :class => "btn btn-primary" %>
    <br/>
    <br/>  
      <%= link_to 'Change password', url_for(:users, :password_change), :class => "btn btn-primary" %>
      <%= link_to 'Cancel', url_for(:sessions, :login), :class => "btn btn-secondary" %>
<% end %>