<h1>Password change</h1>

<p>Please enter the code you recibe and choose your password!</p>
<% form_for(@user, "/users/apply_password/") do |f| %>

  	<%= f.label :code %>
 	<%= f.text_field :code %>

 	<%= f.label :new_password %>
 	<%= f.password_field :password%>

 	<%= f.label :password_confirmation %>
 	<%= f.password_field :password_confirmation%>

	<br/>
      <%= f.submit "Apply", :class => "btn btn-primary" %>
      <%= link_to 'Cancel', url_for(:sessions, :login), :class => "btn btn-secondary" %>
<% end %>