<h1>Password recovery</h1>

	
<p>Please enter your email address to generate a code to recover your password!</p>
<% form_for(@code_generator, "/users/send/") do |f| %>

  	<%= f.label :Email %>
 	<%= f.text_field :user_email %>

	<br/>
  <%= f.submit "Generate", :class => "btn btn-primary" %>

<% end %>  

<% form_for(@user, "/users/chage_password/") do |f| %>

  <%= f.label :code %>
  <%= f.password_field :code %>
  <%= f.label :new_password %>
  <%= f.password_field :new_password %>

    <br/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>  
  <%= link_to 'Cancel', url_for(:sessions, :login), :class => "btn btn-secondary" %>
<% end %>