<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="search" class="form-search">
		 <%= csrf_token_field %>
		<input type="text" name="q" />
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th><%= link_to 'Title', url_for(:job_offers, :title) %></th>
		<th><%= link_to 'Location', url_for(:job_offers, :location) %></th>
		<th>Description</th>
		<th><%= link_to 'Created on', url_for(:job_offers, :created_on) %></th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>		
		<td>
			<%= offer.created_on %>
		</td>		
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%= link_to 'Share', url_for(:job_offers, :share, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%= link_to 'Find Near', url_for(:job_offers, :find_near, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>		
	</tr>

  <% end %>

</table>
